<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.aufa.asistenkuliahku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SessionManager.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityClass.frmLogin" />
        <activity android:name=".ActivityClass.frmDaftar" />
        <activity android:name=".ActivityClass.menuJadwalKuliah" />
        <activity android:name=".ActivityClass.menuJadwalUjian" />
        <activity android:name=".ActivityClass.menuJadwalLain" />
        <activity android:name=".ActivityClass.menuCatatan" />
        <activity
            android:name=".ActivityClass.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityClass.frmJadwalKuliah" />
        <activity android:name=".ActivityClass.frmTugas" />
        <activity
            android:name=".ActivityClass.menuJadwalKuliahTab"
            android:label="@string/title_activity_menu_jadwal_kuliah_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityClass.Fragment.fragment_frmJadwalLain" />
        <activity android:name=".frmJadwalPengganti"></activity>
    </application>

</manifest>