<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.citrafa.asistenkuliahku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".SessionManager.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityClass.frmLogin"
            android:label="Login" />
        <activity
            android:name=".ActivityClass.frmDaftar"
            android:label="Daftar Akun" />
        <activity
            android:name=".ActivityClass.menuJadwalKuliah"
            android:label="Menu Jadwal Kuliah" />
        <activity
            android:name=".ActivityClass.menuJadwalUjian"
            android:label="Jadwal Ujianku" />
        <activity
            android:name=".ActivityClass.menuJadwalLain"
            android:label="Jadwal Lainku" />
        <activity
            android:name=".ActivityClass.menuCatatan"
            android:label="Catatanku" />
        <activity
            android:name=".ActivityClass.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityClass.frmJadwalKuliah"
            android:label="Jadwal Kuliahku" />
        <activity
            android:name=".ActivityClass.frmTugas"
            android:label="Tugas Kuliahku"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityClass.menuJadwalKuliahTab"
            android:label="Kuliah Ku" />
        <activity
            android:name=".frmJadwalPengganti"
            android:label="Jadwal Pengganti" />

        <service android:name=".SessionManager.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".SessionManager.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".Service.NotificationPublisher"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>